<main class="chat-container mat-app-background">
  <mat-toolbar color="primary">
    <span>Chat app</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Chat menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeTheme()">
        <mat-slide-toggle color="primary" [checked]="isDarkMode$ | async">Dark mode</mat-slide-toggle>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="messages-container" #messagesContainer>
    <div *ngFor="let event of eventList$ | async">
      <app-command *ngIf="event | isCommand" [command]="event.payload" (userAnswer)="onUserAnswer($event)"></app-command>
      <app-message *ngIf="event | isMessage" [message]="event.payload.message" [createdByLoggedUser]="event.payload.createdByLoggedUser"></app-message>
    </div>
  </div>

  <div class="chat-input-container">
    <div class="command-btn-container">
      <button (click)="onAskForCommand()" mat-flat-button color="primary" class="command-btn">Ask for a command</button>
    </div>
    <mat-form-field appearance="outline" class="chat-form-field">
      <mat-label>Send message</mat-label>
      <input matInput type="text" placeholder="Send message" [(ngModel)]="message" (keyup.enter)="send()">
      <mat-icon matSuffix color="primary" (click)="send()">send</mat-icon>
    </mat-form-field>
  </div>
</main>
