<ng-container [ngSwitch]="command.command.type">
  <app-complete (answer)="onAnswer($event)" *ngSwitchCase="commandTypeEnum.COMPLETE"></app-complete>
  <app-date [dateISO]="command.command.data" (answer)="onAnswer($event)" *ngSwitchCase="commandTypeEnum.DATE"></app-date>
  <app-map [lat]="command.command.data.lat" [lng]="command.command.data.lng" *ngSwitchCase="commandTypeEnum.MAP"></app-map>
  <app-rate (answer)="onAnswer($event)" *ngSwitchCase="commandTypeEnum.RATE"></app-rate>
</ng-container>
