.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;

  .author-picture {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 8px;
  }

  .text-container {
    background-color: var(--primary-color);
    color: var(--primary-contrast);
    border-radius: 8px;
    padding: 8px;

    .message {
      margin: 0;
    }
  }

  &.mine  {
    flex-direction: row-reverse;

    .text-container {
      background-color: var(--gray-color);
      color: var(--gray-contrast);
    }

    .author-picture {
      margin-right: 0;
      margin-left: 8px;
    }
  }

}
